server/.env
server/data
sdk/node_modules

examples/ecom-app/node_modules
examples/ecom-app/.pnp
examples/ecom-app/.pnp.js

# testing
examples/ecom-app/coverage

# production
examples/ecom-app/build

# misc
examples/ecom-app/.DS_Store
examples/ecom-app/.env.local
examples/ecom-app/.env.development.local
examples/ecom-app/.env.test.local
examples/ecom-app/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
